.currentDisplay {
	width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: inherit;
  opacity: 1;
  z-index: 20;
}

.intro {
	overflow: visible;
	height: 100vh;
}

.introContainer  {
	height: 100%;
}

.introList {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0
}

.introListItem {
	width: 100%;
	height: 100%;
}
.introImage {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: inherit;
}
